/* 全局样式 */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    font-size: 12px; 
    line-height: 1.2;
}

/* 页眉样式 */
.header {
    background-color: #555;
    padding: 5px; 
    text-align: left; 
    color: #555; 
}


.navigation {
    background-color: #444; 
    text-align: left; 
    padding: 10px 0;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    margin: 0 5px; 
}

.navigation a {
    color: #444; 
    text-decoration: none;
    font-size: 0.9em;
}

.navigation a:hover {
    color: #666; 
}

.profile-section {
    background-color: #fff;
    padding: 10px 0; 
    text-align: left; 
    box-shadow: none; 
    margin: 5px; 
    border-radius: 0px; 
}

.profile-container {
    display: block;
    align-items: flex-start; 
    max-width: 100%;
    margin: 0 auto;
}

.profile-image img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 0%; 
    margin: 5px;
    box-shadow: none; 
}

.profile-info {
    max-width: 100%;
    margin: 5px;
    text-align: justify; 
}

.name {
    font-size: 1.5em; 
    color: #333; 
}

.title {
    font-size: 1.2em;
    color: #444; 
}

.description {
    font-size: 0.8em; 
    margin: 5px 0; 
}


.contact-button {
    background-color: #000;
    color: #000; 
    border: 2px solid #000;
    padding: 5px 10px; 
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 0; 
}

.contact-button:hover {
    background-color: #333; 
}

/* 技能部分样式 */
.skills-section {
    background-color: #fafafa; 
    padding: 20px 0;
    text-align: left; 
}

.skills-list {
    list-style: disc; 
    padding: 0 20px;
    margin: 0;
}

.skills-list li {
    display: block;
    margin: 5px 0;
    font-size: 0.8em; 
    color: #555;
}

/* 页脚样式 */
.footer {
    background-color: #333;
    color: #333;
    text-align: left;
    padding: 5px;
    font-size: 0.7em;
}

@media (max-width: 768px) {
    .profile-container {
        display: block;
        text-align: left; 
    }

    .profile-info {
        text-align: center;
    }

    .profile-image img {
        width: 50px; 
    }

    .skills-list li {
        margin: 5px 0; 
    }
}
